<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Direct Messaging</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
      <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="wrapper">

    <div *ngIf="!bes.loginSwitch">
      <div style="margin: 0 auto; vertical-align: top; padding-top: 80px;">
        <div style="width: 50%; float:left;">
          <app-auth (getUsers)="onLoggedIn($event)"></app-auth>
        </div>
        <div style="width: 50%; float:right;">
          <app-signup></app-signup>
        </div>
      </div>
    </div>

    <div class="container" *ngIf="bes.loginSwitch">
        <div class="left" style="overflow-y: scroll; overflow-x: hidden;">
            <div class="top">
                <input type="text" />
                <a href="javascript:;" class="search"></a> <!--move it from here-->
            </div>
            <ul class="people">
                <li *ngFor="let user of users; let i = index" class="person" data-chat="person1">
                  <div (click)="fetchConversation(user.Username)">
                    <img src="https://s3.postimg.org/yf86x7z1r/img2.jpg" alt="" />
                    <span class="name">{{user.Username}}</span>
                    <span *ngIf="user.Online" class="time">Online</span>
                    <span *ngIf="user.FirstName" class="preview">{{user.FirstName}}</span>
                    <span *ngIf="user.MiddleName" class="preview">{{user.MiddleName}}</span>
                    <span *ngIf="user.Email" class="preview">{{user.Email}}</span>
                  </div>
                </li>
            </ul>
        </div>
        <div class="right">
            <div class="top"><span>To: <span class="name">{{otherUser}}</span></span></div>
            <div class="chat active-chat" style="overflow-y: scroll; overflow-x: hidden;" data-chat="person1">
                <div class="conversation-start">
                    <span>Beginning</span>
                </div>
                <div *ngIf="conversationFound">
                  <div *ngFor="let msg of activeConversation.Messages"> <!--add padding to the right-->
                    <div class="bubble" [class.you]="otherUser == msg.Sender" [class.me]="otherUser != msg.Sender">
                      {{msg.Content}}
                    </div>
                  </div>
                </div>
                <div *ngIf="!conversationFound" class="conversation-start">
                    <span>No Previous Conversation Found</span>
                </div>
            </div>
            <div class="write">
                <a href="javascript:;" class="write-link attach"></a>
                <input type="text" [(ngModel)]="newMessage" (keydown.enter)="sendMessage()"/>
                <a href="javascript:;" class="write-link smiley"></a>
                <a href="javascript:;" class="write-link send"></a>
            </div>
        </div>
    </div>




    </div>
      <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

        <script src="js/index.js"></script>

    </body>
    </html>
